/* * {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Arimo';
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100vw; 
    height: 85px;
    background-color: #212121;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  
}

#techStoreLogo {
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
} 
.removeLinkStyle {
    text-decoration: none;
    color: #FFFFFF;
}  */
* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Arimo';
}

header {
    position: fixed;
    top: 0px;
    width: 100vw; 
    height: 85px; 
    background-color: #212121;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-right: 20px;
}

#techStoreLogo {
    font-size: 20px;
}

#cartSpan {
    font-size: 40px;
    margin-right: 8px;
}

.removeLinkStyle {
    text-decoration: none;
    color: #FFFFFF;
} 

.mainBox {
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: right;
    flex-direction: column;
    
    
}
.loginBox {
    display: flex;
    justify-content: center;
    text-align: center;
    float: right;
    flex-direction: column; 
    width: 30vw;  
    
}


.createAccount {
display: flex;
text-align: center;
flex-direction: column; 
width: 30vw;  
margin-top: 50px;
}
