* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Arimo';
}

header {
    
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 77px;  
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#boldHeader {
    font-weight: bolder;
}
/* kan inte få font weigten till att bli bolder, kanske måste lägga till det i google font taggen? */

#mainContent {
    margin-top: 70px;
    height: 3700px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   
}

#mainContainer {
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#titleContainer {
    font-size: 60px;
    font-weight: 700;
    
}

#descriptionContainer {
    font-size: 20px;
    font-weight: 600;

}

#imgContainer {
    height: 600px;
    width: 374px;
}

#priceContainer {
    
}




